.header4-img {
  margin-right: 170px; }
  @media (max-width: 768px) {
    .header4-img {
      display: none; } }
  @media (max-width: 1500px) {
    .header4-img {
      margin-right: 0px; } }

.header4-txt {
  min-height: 620px !important; }

.features-card_txt2 p {
  margin-bottom: 20px; }
  .features-card_txt2 p :last-child {
    margin-bottom: 0px; }

.features-card2 {
  margin-bottom: 180px !important; 
align-items: center;}
  @media (max-width: 400px) {
    .features-card2 {
      margin-bottom: 70px !important; } }

.features-card_p2 {
  margin-top: 80px !important; }
  @media (max-width: 576px) {
    .features-card_p2 {
      padding-right: 0px;
      margin-left: 0px;
      margin-top: 20px !important; } }

.feauteres-back2 {
  top: 1300px !important;
  left: -300px !important; }
